  <div class="page-container">
    <div class="fullwidthbanner-container slider-main">
      <div class="fullwidthabnner">
        <ul id="revolutionul" style="display:none;">
          <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-thumb="/images/revolution/thumbs/thumb2.jpg" data-transition="fade">
            <img src='/images/revolution/bg1.jpg' alt='bg'/>
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="1500" data-x="0" data-y="105">
              Need a website design ?
            </div>
            <div class="caption lft slide_subtitle slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="0" data-y="180">
              This is what you were looking for
            </div>
            <div class="caption lft slide_desc slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="0" data-y="220">
              Lorem ipsum dolor sit amet, dolore eiusmod
              <br/>
              quis tempor incididunt. Sed unde omnis iste.
            </div>
            <a class="caption lft btn green slide_btn slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="3000" data-x="0" data-y="290" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">
              Purchase Now!
            </a>
            <div class="caption lfb" data-easing="easeOutExpo" data-speed="700" data-start="1000" data-x="640" data-y="55">
              <img src='/images/revolution/man-winner.png' alt='bg'/>
            </div>
          </li>
          <li data-delay="9400" data-masterspeed="300" data-slotamount="7" data-thumb="/images/revolution/thumbs/thumb2.jpg" data-transition="fade">
             <img src='/images/revolution/bg2.jpg' alt='bg'/>
            <div class="caption lfl slide_title slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="3500" data-x="0" data-y="125">
              Powerfull  Clean
            </div>
            <div class="caption lfl slide_subtitle slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="4000" data-x="0" data-y="200">
              Responsive Admin  Website Theme
            </div>
            <div class="caption lfl slide_desc slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="4500" data-x="0" data-y="245">
              Lorem ipsum dolor sit amet, consectetuer elit sed diam
              <br/>
              nonummy amet euismod dolore.
            </div>
            <div class="caption lfr slide_item_right" data-easing="easeOutBack" data-speed="1200" data-start="1500" data-x="635" data-y="105">
               <img src='/images/revolution/mac.png' alt='bg'/>
            </div>
            <div class="caption lfr slide_item_right" data-easing="easeOutBack" data-speed="1200" data-start="2000" data-x="580" data-y="245">
                <img src='/images/revolution/ipad.png' alt='bg'/>
            </div>
            <div class="caption lfr slide_item_right" data-easing="easeOutBack" data-speed="1200" data-start="2500" data-x="735" data-y="290">
               <img src='/images/revolution/iphone.png' alt='bg'/>
            </div>
            <div class="caption lfr slide_item_right" data-easing="easeOutBack" data-speed="1200" data-start="3000" data-x="835" data-y="230">
                <img src='/images/revolution/macbook.png' alt='bg'/>
            </div>
            <div class="caption lft slide_item_right" data-easing="easeOutBack" data-speed="500" data-start="5000" data-x="865" data-y="45">
              <img src='/images/revolution/hint1-blue.png' alt='bg' id='rev-hint1'/>
            </div>
            <div class="caption lfb slide_item_right" data-easing="easeOutBack" data-speed="500" data-start="5500" data-x="355" data-y="355">
              <img src='/images/revolution/hint2-blue.png' alt='bg' id='rev-hint2'/>
            </div>
          </li>
          <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-thumb="/images/revolution/thumbs/thumb2.jpg" data-transition="fade">
            <img src='/images/revolution/bg3.jpg' />
            <div class="caption lfl slide_item_left" data-easing="easeOutBack" data-speed="400" data-start="1500" data-x="20" data-y="95">
              <iframe height="240" src="http://player.vimeo.com/video/56974716?portrait=0" style="border:0" width="420"></iframe>
            </div>
            <div class="caption lfr slide_title" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="470" data-y="100">
              Responsive Video Support
            </div>
            <div class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="470" data-y="170">
              Youtube, Vimeo and others.
            </div>
            <div class="caption lfr slide_desc" data-easing="easeOutExpo" data-speed="400" data-start="3000" data-x="470" data-y="220">
              Lorem ipsum dolor sit amet, consectetuer elit sed diam
              <br>
                nonummy amet euismod dolore.
              </br>
            </div>
            <a class="caption lfr btn yellow slide_btn" data-easing="easeOutExpo" data-speed="400" data-start="3500" data-x="470" data-y="280">
              Watch more Videos!
            </a>
          </li>
          <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-thumb="/images/revolution/thumbs/thumb2.jpg" data-transition="fade">
            <img src='/images/revolution/bg4.jpg' />
            <div class="caption lft slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1500" data-x="0" data-y="105">
              What else included ?
            </div>
            <div class="caption lft slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="0" data-y="180">
              The Most Complete Admin Theme
            </div>
            <div class="caption lft slide_desc" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="0" data-y="225">
              Lorem ipsum dolor sit amet, consectetuer elit sed diam
              <br/>
              nonummy amet euismod dolore.
            </div>
            <a class="caption lft slide_btn btn red slide_item_left" data-easing="easeOutExpo" data-speed="400" data-start="3000" data-x="0" data-y="300" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank">
              Learn More!
            </a>
            <div class="caption lft start" data-easing="easeOutBack" data-speed="400" data-start="2000" data-x="670" data-y="55">
              <img src='/images/revolution/iphone_left.png' />
            </div>
            <div class="caption lft start" data-easing="easeOutBack" data-speed="400" data-start="2400" data-x="850" data-y="55">
               <img src='/images/revolution/iphone_right.png' />
              <div class="tp-bannertimer tp-bottom"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>

    var api;
    jQuery(document).ready(function() {
    api =  jQuery('.fullwidthabnner').revolution(
    {
    delay:9000,
    startheight:500,
    startwidth:960,

    hideThumbs:10,

    thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
    thumbHeight:50,
    thumbAmount:5,

    navigationType:"bullet",				// bullet, thumb, none
    navigationArrows:"nexttobullets",				// nexttobullets, solo (old name verticalcentered), none

    navigationStyle:"round",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


    navigationHAlign:"center",				// Vertical Align top,center,bottom
    navigationVAlign:"bottom",					// Horizontal Align left,center,right
    navigationHOffset:0,
    navigationVOffset:20,

    soloArrowLeftHalign:"left",
    soloArrowLeftValign:"center",
    soloArrowLeftHOffset:20,
    soloArrowLeftVOffset:0,

    soloArrowRightHalign:"right",
    soloArrowRightValign:"center",
    soloArrowRightHOffset:20,
    soloArrowRightVOffset:0,

    touchenabled:"on",						// Enable Swipe Function : on/off
    onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off



    stopAtSlide:-1,
    stopAfterLoops:-1,

    shadow:1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
    fullWidth:"on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
    });
    });

  </script>

<div class="content span12 offset3">
  <div class="row service-box">
    <div class="col-md-4 col-sm-4">
      <div class="service-box-heading">
        <em>
          <i class="fa fa-location-arrow blue"></i>
        </em>
        <span>Multipurpose Template</span>
      </div>
      <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="service-box-heading">
        <em>
          <i class="fa fa-check red"></i>
        </em>
        <span>Well Documented</span>
      </div>
      <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="service-box-heading">
        <em>
          <i class="fa fa-resize-small green"></i>
        </em>
        <span>Responsive Design</span>
      </div>
      <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
  </div>
</div>
<div id ='content'>
</div>

