/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require house
*/

@import "bootswatch";
@import "font-awesome";
@import 'font.css';
@import "style-metronic";
@import "style";
@import "style-responsive";
@import "rs-style";
@import "settings";
@import "bootstrap.min";


body a:hover{
    color:black;
    text-decoration:none;
}
body .container{
    min-height:100%;
}
.alert{
    color:red;
    position:absolute;
}
.notice{
@extend .alert;
color:greenyellow;
}

//page transiction
html, body {
    height:100%;
}
body {
    width: 100%;
    overflow: auto;
}
.yield_content{
    min-height: 600px;
}
body .footer{

}
.house-box{
    height: 155px;
    width:430px;
}
.hFooter {
    clear: both;
    height: 40px;
}
.pagination_center{
    text-align: center;
}



